* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera*/
}

body {
    margin: 0;
    padding: 0;
    background-color: #417241;
    font-family: 'Press Start 2P', cursive;
}

.header {
    box-sizing: content-box;
    text-align: center;
    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #284e28;
    border-bottom: 10px solid #203820;
    letter-spacing: 5px;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    background-color: #c0c0c0;
    min-height: 580px;
    border: 10px solid #959393;
}

.countersBox {
    border-bottom: 10px solid #959393;
    text-align: center;
}

.counter {
    height: 50px;
    border-top: 4px outset #9d9d9d;
    border-left: 4px outset #9c9c9c;
    border-right: 4px outset #d1d1d1;
    border-bottom: 4px outset #d1d1d1;
    margin: 8px 0;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    top: 10px;
}

#face {
    width: 50px;
    color: transparent;
    white-space: nowrap;
    background-size: cover;
    background-image: url('img/slightlySmilingFace.png');
}

#levelButton {
    width: 50px;
    background-color: #959393;
}

#face,
#levelButton,
.showShortcuts {
    cursor: pointer;
}

#timer {
    width: 250px;

}

.bombCounter {
    min-width: 80px;
}

.board {
    text-align: center;
    padding: 40px 0;

}

#gamePanel {
    --gamePanelWidth: 500px;
    --gamePanelHeight: 500px;
    --tileSize: 50px;
    --tileBorder: 5px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    width: var(--gamePanelWidth);
    height: var(--gamePanelHeight);
    border: 1px solid #7c7a7a;
}

.flaggedTile {
    border-top: var(--tileBorder) outset #bebebe;
    border-left: var(--tileBorder) outset #bebebe;
    border-right: var(--tileBorder) outset #d1d1d1;
    border-bottom: var(--tileBorder) outset #d1d1d1;
    background-image: url('img/flag.png');
    background-size: cover;
}

.detonatedTile {
    border: 1px solid #3f3e3e;
    background-color: #959393;
    background: no-repeat center/100%;
}

.coveredTile {
    border-top: var(--tileBorder) outset #bebebe;
    border-left: var(--tileBorder) outset #bebebe;
    border-right: var(--tileBorder) outset #d1d1d1;
    border-bottom: var(--tileBorder) outset #d1d1d1;
}

.pressedTile {
    border: 1px solid #3f3e3e;
    background-color: #959393;
}

.tile {
    width: var(--tileSize);
    height: var(--tileSize);
    display: inline-block;
    background-color: #959393;
}

/* .coveredTile:hover {
    opacity: .6;
} */

#reportsBox {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    background-color: #c0c0c0;
    height: 300px;
    border: 10px solid #959393;
}

#reportsHeader {
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    height: 50px;
    border-bottom: 10px solid #959393;
}

#reports,
.scrollReportsArrow {
    float: left;
}

#followingReport {
    background-image: url("img/rightArrow.png");
    background-size: cover;
}

#previousReport {
    background-image: url("img/leftArrow.png");
    background-size: cover;
}

.scrollReportsArrow {
    width: 50px;
    height: 230px;
    visibility: hidden;
    cursor: pointer;
}

#reports {
    padding: 10px 5px;
    color: #747474;
    text-align: center;
    justify-items: left;
    height: 230px;
    line-height: 200px;
    white-space: nowrap;
    width: 900px;
}

#reports::-webkit-scrollbar {
    height: 20px;
}

#reports::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

#reports::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
}

.gameReport {
    --reportColor: #025020;
    height: 190px;
    width: 290px;
    border-radius: 10px;
    background-color: var(--reportColor);
    color: #FFF;
    padding: 10px;
    line-height: 2;
    font-size: 11.5px;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}

.gameReport:first-child {
    margin-left: 0;
}

.gameReportHeader {
    text-align: center;
    font-size: 16px;
}

.showShortcuts {
    position: fixed;
    border: 10px outset #959393;
    left: 30px;
    top: 17px;
    width: 100px;
    height: 80px;
    padding: 0 10px 5px 10px;
    background-image: url("img/keyboard.png");
    background-size: cover;
    background-color: #c0c0c0;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.shortcutsList {
    position: relative;
    left: -20px;
    top: 97px;
    min-height: 500px;
    width: 400px;
    background: #007394;
    border-radius: 10px;
    border: 5px solid #DDD;
    color: #DDD;
    visibility: hidden;
    pointer-events: none;
}

.shortcutsList:after {
    content: '';
    position: absolute;
    top: 0;
    left: 45px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #DDD;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
}

.shortcut {
    margin: 20px;
    height: 80px;
}

.shortcutBtn {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 5px solid #DDD;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    float: left;
}

.shortcutDescription {
    margin-left: 10px;
    width: 260px;
    font-size: 12px;
    line-height: 80px;
    text-align: center;
    float: left;
}

.darkBackground {
    --confirmationTop: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0,0.5);
    z-index: 1;
}

.restartConfirmation {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--confirmationTop);
    width: 700px;
    height: 200px;
    background-color: #007394 ;
    border: #DDD 10px solid;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    color: #DDD;
}
.confirmationBtn {
    display: inline-block;
    margin-top: 40px;
    width: 300px;
    height: 50px;
    border: #DDD solid 5px;
    padding: 10px;
    border-radius: 5px;
    line-height: 20px;
    cursor: pointer;
}
.confirmationBtn:hover {
    background-color: #DDD;
    color: #007394;
}