* {
    box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
background-color: #417241;
font-family: 'Press Start 2P', cursive;
}
.header {
    box-sizing: content-box;
    text-align: center;
    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #284e28;
    border-bottom: 10px solid #203820;
}
.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    background-color:#c0c0c0;
    min-height: 1000px;
    border: 10px solid #959393;
}
.countersBox {
    border-bottom: 10px solid #959393;
    text-align: center;
}
.counter {
    height: 50px;
    border-top: 4px outset #9d9d9d;
    border-left: 4px outset #9c9c9c;
    border-right: 4px outset #d1d1d1;
    border-bottom: 4px outset #d1d1d1;
    margin: 8px 0;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    top: 10px;
}
#face {
    width: 50px; 
    color: transparent;
    white-space: nowrap;
    background-size: cover; 
    background-image: url('img/slightlySmilingFace.png'); 
}
#levelButton {
    width: 50px;
    background-color: #959393;
}
.counterBox, .counter, #gamePanel, #tile, #detonatedTile, #flaggedTile {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera*/
}
#face:hover, #levelButton:hover {
    cursor: pointer;
}
#timer {
    min-width: 200px;
    
}
.bombCounter{
    min-width: 80px;
}
.board {
    text-align: center;
    padding: 40px 0;
    
}
#gamePanel {
    --gamePanelWidth : 500px;
    --gamePanelHeight : 500px;
    --tileSize : 50px;
    --tileBorder : 5px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    width: var(--gamePanelWidth);
    height: var(--gamePanelHeight);
    border: 1px solid #7c7a7a;
}
.flaggedTile {
    width: var(--tileSize);
    height: var(--tileSize);
    border-top: 5px outset #bebebe;
    border-left: 5px outset #bebebe;
    border-right: 5px outset #d1d1d1;
    border-bottom: 5px outset #d1d1d1;
    display: inline-block;
    background-image: url('img/flag.png');
    background-size: cover;
}
.detonatedTile {
    width: var(--tileSize);
    height: var(--tileSize);
    border: 1px solid #3f3e3e;
    background-color: #959393;
    display: inline-block;
    background: no-repeat center/100%;
}
.tile {
    width: var(--tileSize);
    height: var(--tileSize);
    border-top: var(--tileBorder) outset #bebebe;
    border-left: var(--tileBorder) outset #bebebe;
    border-right: var(--tileBorder) outset #d1d1d1;
    border-bottom: var(--tileBorder) outset #d1d1d1;
    display: inline-block;
    background-color: #959393;
}
.tile:hover {
    /* background-color:#555; */
    opacity: .6;
}
